<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="default.css">
		<link href="img/favicon.png" rel="shortcut icon" type="image/png">
	</head>
	<body>
		<div class="header">
			<div class="wrapper">
				<div id="logo">
					<a href="index.html">
						<img src="img/logo_small.png" alt="PM's Pet Minding Logo">
					</a>
				</div>
				<div class="header_copy">	
					<div id="name" class="header_copy" >
						<a href="index.html">PM's Pet Minding</a>
					</div>
					<div class="nav">
						<ul class="dropmenu">
							<li><a id= "contact" href="contact.html">Contact Us</a></li>
							<li><a id="about" href="about_us.html">About Us</a></li>
							<li><a id="services" href="services.html">Services</a>
								<ul class="dropmenu submenu">
									<li><a href="dog.html">Dogs</a></li>
									<li><a href="cat.html">Cats</a></li>
									<li><a href="rabbit.html">Rabbits</a></li>
									<li><a href="duck.html">Ducks</a></li>
									<li><a href="guinea_pig.html">Guinea Pigs</a></li>
									<li><a href="fish.html">Fish</a></li>
									<li><a href="bird.html">Birds</a></li>
									<li><a href="goose.html">Geese</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{{ content }}
		<div class="footer">
			<div class="wrapper">
				<p> here be things</p>
				<p>
    				<a href="http://jigsaw.w3.org/css-validator/check/referer">
        			<img style="border:0;width:88px;height:31px"
            		src="http://jigsaw.w3.org/css-validator/images/vcss"
            		alt="Valid CSS!">
    				</a>
				</p>
				<p>
    				<a href="http://validator.w3.org/check?uri=http%3A%2F%2Frachaelbattle.com%2FPetMinding%2Findex.html">
        			<img style="border:0;width:88px;height:31px"
            		src="http://www.w3.org/Icons/valid-html401"
            		alt="Valid HTML!">
    				</a>
				</p>
      		</div>
		</div>
	</body>
</html>